<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Today</ion-title>
<!--
    <ion-buttons slot="end">
      <ion-button (click)="login()" *ngIf="isAuthReady() && !getProfileImage()">Login</ion-button>
      <ion-thumbnail (click)="logout()" *ngIf="isAuthReady() && getProfileImage()">
        <ion-img [src]="getProfileImage()"></ion-img>
      </ion-thumbnail>
    </ion-buttons>
-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Today</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-weather name="Weather"></app-weather>
  <app-calendar name="Calendar"></app-calendar>
</ion-content>
