<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Today
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Today</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-weather name="Weather"></app-weather>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Calendar</ion-card-subtitle>
      <ion-card-title>Today</ion-card-title>
    </ion-card-header>

    <ion-item class="ion-activated">
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>Pay Day</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="rocket-outline" slot="start"></ion-icon>
      <ion-label>Vacation</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
